<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hubahuma.mobile"
    android:versionCode="1"
    android:versionName="1.0" >

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="20" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="unXbiSLL0ntDYhCvvdEPbchu" />

        <activity
            android:name=".LauncherActivity_"
            android:label="@string/title_activity_launcher" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity_"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".news.NewsActivity_"
            android:label="@string/title_activity_news" >
        </activity>
        <activity
            android:name=".writing.WritingActivity_"
            android:label="@string/title_activity_writing" >
        </activity>
        <activity
            android:name=".discovery.DiscoveryActivity_"
            android:label="@string/title_activity_discovery" >
        </activity>
        <activity
            android:name=".profile.ProfileOrganizationActivity_"
            android:label="@string/title_activity_organization" >
        </activity>
        <activity
            android:name=".info.InfoActivity_"
            android:label="@string/title_activity_info" >
        </activity>
        <activity
            android:name=".news.message.MessageActivity_"
            android:label="@string/title_activity_message" >
        </activity>
        <activity
            android:name=".news.message.ChatActivity_"
            android:label="@string/title_activity_chat" >
        </activity>
        <activity
            android:name=".news.managebook.ManageBookActivity_"
            android:label="@string/title_activity_manage_book" >
        </activity>
        <activity
            android:name=".news.managebook.GroupManageActivity_"
            android:label="@string/title_activity_group_manage" >
        </activity>
        <activity
            android:name=".news.managebook.GroupRenameDialog_"
            android:label="@string/title_activity_group_rename_dialog" >
        </activity>
        <activity
            android:name=".news.managebook.ChangeGroupDialog_"
            android:label="@string/title_activity_change_group_dialog" >
        </activity>
        <activity
            android:name=".news.managebook.AddNewGroupDialog_"
            android:label="@string/title_activity_add_group_dialog" >
        </activity>
        <activity
            android:name=".news.contacts.ContactsActivity_"
            android:label="@string/title_activity_contacts" >
        </activity>
        <activity
            android:name=".news.contacts.AddContactActivity_"
            android:label="@string/title_activity_add_contact" >
        </activity>
        <activity
            android:name=".news.contacts.SearchResultActivity_"
            android:label="@string/title_activity_search_result_fragment" >
        </activity>
        <activity
            android:name=".news.contacts.AddChatGroupActivity_"
            android:label="@string/title_activity_add_chat_group" >
        </activity>
        <activity
            android:name=".PromptDialog_"
            android:label="@string/title_activity_prompt_dialog" >
        </activity>
        <activity
            android:name=".LoadingDialog_"
            android:label="@string/title_activity_loading_dialog" >
        </activity>
        <activity
            android:name=".news.contacts.InviteUserActivity_"
            android:label="@string/title_activity_invite_user" >
        </activity>
        <activity
            android:name=".news.teachingdiary.TeachingDiaryActivity_"
            android:label="@string/title_activity_teaching_diary" >
        </activity>
        <activity
            android:name=".profile.ProfileTeacherActivity_"
            android:label="@string/title_activity_profile_teacher" >
        </activity>
        <activity
            android:name=".profile.ProfileTeacherSelfActivity_"
            android:label="@string/title_activity_profile_teacher" >
        </activity>
        <activity
            android:name=".profile.ProfileParentsActivity_"
            android:label="@string/title_activity_profile_parents" >
        </activity>
        <activity
            android:name=".profile.ProfileParentsSelfActivity_"
            android:label="@string/title_activity_profile_parents" >
        </activity>
        <activity
            android:name=".profile.PublishedArticleActivity_"
            android:label="@string/title_activity_published_article" >
        </activity>
        <activity
            android:name=".profile.CommentsActivity_"
            android:label="@string/title_activity_comments" >
        </activity>
        <activity
            android:name=".profile.WriteCommentActivity_"
            android:label="@string/title_activity_write_comment" >
        </activity>
        <activity
            android:name=".profile.LocationActivity_"
            android:label="@string/title_activity_location" >
        </activity>
        <activity
            android:name=".discovery.TrainActivity_"
            android:label="@string/title_activity_train" >
        </activity>
        <activity
            android:name=".writing.PublishNoticeActivity_"
            android:label="@string/title_activity_publish_notice" >
        </activity>
        <activity
            android:name=".profile.ProfileSelfActivity_"
            android:label="@string/title_activity_profile_self" >
        </activity>
        <activity
            android:name=".profile.ChangePhoneActivity_"
            android:label="@string/title_activity_change_phone" >
        </activity>
        <activity
            android:name=".profile.PasswordResetActivity_"
            android:label="@string/title_activity_password_reset" >
        </activity>
        <activity
            android:name=".profile.ChangeInfoActivity_"
            android:label="@string/title_activity_change_info" >
        </activity>
        <activity
            android:name=".profile.SchoolImgManageActivity_"
            android:label="@string/title_activity_school_img_manage" >
        </activity>
        <activity
            android:name=".LoginActivity_"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".profile.ChangeTagActivity_"
            android:label="@string/title_activity_change_tag" >
        </activity>
        <activity
            android:name=".writing.MyNoticeActivity_"
            android:label="@string/title_activity_my_notice" >
        </activity>
        <activity
            android:name=".writing.ReceiptActivity_"
            android:label="@string/title_activity_receipt" >
        </activity>
    </application>

</manifest>